body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: radial-gradient(#ff0000, #5a0000);
}
.es
{
    position: absolute;
    color: #fff;
    font-size: 80px;
    font-style:inherit;
    top: 1000px;
    text-shadow: 0 0 30px #fff;
}
.cross
{
    position:absolute;
    background: #fff;
    height: 100px;
    width: 30px;
    z-index: 100;
    animation: heart 1s linear infinite;
    box-shadow: 0 0 20px #fff;
}
.cross2
{
    content: ' ';
    position: absolute;
    height: 30px;
    width: 100px;
    background: #fff;
    z-index: 110;
    animation: heart 1s linear infinite;
    box-shadow: 0 0 20px #fff;
}

.heart
{
    position: relative;
    height: 200px;
    width: 200px;
    background: #ff1010;
    transform: rotate(45deg);
    box-shadow: 30px 30px 400px rgba(0, 0, 0, 0.5);
    animation: heart 1s linear infinite;
}
@keyframes heart
{
    0% {transform: rotate(0deg) scale(1);}
    20% {transform: rotate(0deg) scale(0.8);}
    40% {transform: rotate(0deg) scale(1.2);}
    60% {transform: rotate(0deg) scale(1);}
    80% {transform: rotate(0deg) scale(1.3);}
    100% {transform: rotate(0deg) scale(1);}
}
.heart::before
{
    content: ' ';
    position: absolute;
    height: 100px;
    width: 200px;
    top: -100px;
    background: #ff1010;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    
}
.heart::after
{
    content: ' ';
    position: absolute;
    height: 200px;
    width: 100px;
    left: -100px;
    background: #ff1010;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}